@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@300&display=swap');

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: 0.05em;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Basics */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

body,
input,
select,
textarea {
  color: #444;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
}

.tiny {
  display: none;
}

.italic {
  font-style: italic;
  letter-spacing: normal;
}

.bold {
  font-weight: 700;
}

/* Wrapper */

.wrapper {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  perspective: 1000px;
  min-height: 100vh;
  padding: 3em;
  width: 100%;
  background-color: #f5f5f4;
}

@media only screen and (max-width: 889px) {
  .wrapper {
    padding: 1rem;
  }

  .absolute {
    display: none;
  }

  .tiny {
    display: inline;
  }
}

/* Header */

header > :first-child::after {
  content: '';
  display: block;
  width: 5rem;
  height: 1px;
  margin: 1.5rem auto 1.75rem auto;
  background-color: #cccccc;
}
header h1 {
  font-size: 1.8em;
}

header p {
  font-size: clamp(0.9rem, 0.9rem, 1.5rem);
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@media only screen and (max-width: 889px) {
  #home header h1 {
    font-size: 0.9em !important;
  }

  header h1 {
    font-size: 1.2em !important;
  }

  header > :first-child::after {
    margin: 1rem auto 1rem auto;
  }
}

/* Containers */

.panel {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 86vw;
  max-width: calc(100vw - 6em);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 3em;
  background-color: #ffffff;
  transition: transform 0.5s ease;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em 0;
}

.inner > nav {
  margin: 3em 0;
}
.inner section {
  gap: 3em;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}
.inner section p {
  text-align: justify;
  font-size: clamp(0.9rem, 1rem, 1.2rem);
}

.subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 0 0 0 3em;
}

@media only screen and (max-width: 889px) {
  .panel {
    flex-direction: column;
    max-width: calc(100vw - 2em);
    width: 30em;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em 2em;
  }

  #work .content {
    padding: 3em 2em 4em 2em;
  }

  .inner {
    padding: 0;
  }

  .inner section {
    padding: 0;
    gap: 2em;
  }

  .inner section h5 {
    font-size: 1rem !important;
  }

  .inner section p {
    letter-spacing: 0.02em;
    text-justify: distribute;
  }

  .inner > nav {
    margin: 1.5em 0;
  }

  .subsection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 0 2em;
    gap: 1em;
  }
}

/* Image */

.image {
  border-radius: 8px;
  border: 0;
  display: inline-block;
  position: relative;
}

.panel .image {
  transition: transform 0.5s ease;
  background-color: #777;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 50em;
  width: 50%;
  z-index: 1;
}

.panel .image img {
  border-radius: 0;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media only screen and (max-width: 889px) {
  .panel .image {
    min-height: 33vh;
    width: 100%;
  }

  .panel .image img {
    max-height: 32vh;
  }
}

/* Button */

input[type='submit'],
input[type='button'],
button,
.button {
  appearance: none;
  background-color: transparent;
  border-radius: 8px;
  border: 0;
  box-shadow: inset 0 0 0 1px #cccccc;
  color: #444 !important;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(0.5em, 0.8em, 1em);
  font-weight: 500;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type='submit']:hover,
input[type='submit'].active,
input[type='button']:hover,
input[type='button'].active,
button:hover,
button.active,
.button:hover,
.button.active {
  box-shadow: inset 0 0 0 1px #bef264;
  color: #65a30d !important;
}

input[type='submit'].icon:before,
input[type='button'].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

/* List */

ul {
  margin: 0 0 2em 0;
}

ul li {
  display: block;
  cursor: default;
  list-style: none;
}

ul.special li > .button {
  min-width: 15em;
}

ul.special li:after {
  background-color: #cccccc;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  position: relative;
  top: 100%;
  width: 1px;
}

ul.special li:last-child::after {
  display: none;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li:first-child {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
}

@media only screen and (max-width: 889px) {
  ul {
    margin: 0;
  }

  ul.special li:after {
    height: 0.8em;
  }

  ul.special li > .button {
    min-width: 10em;
  }
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: xx-large;
  text-transform: none !important;
  color: #666666;
}

.icon:hover:before {
  color: #a3e635 !important;
}

.icon > .label {
  display: none;
}

@media only screen and (max-width: 889px) {
  .icon:before {
    font-size: x-large;
  }
}

.ext {
  align-self: flex-end;
  top: -6em;
  right: -2.8em;
}

/* carousel */
.slider {
  position: relative;
  width: inherit;
  overflow: hidden;
  min-height: 49em;
}

.slider input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider h1 {
  font-size: 1.9em;
  position: absolute;
  z-index: 9999;
  left: 68.3%;
  top: 3em;
}

.slider-controls {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2em;
  left: 73%;
  min-width: 42em;
  text-align: center;
  transform: translatex(-50%);
  list-style: none;
}

.slider-controls li {
  box-sizing: content-box;
  /* flex: 1 1 auto; */
  max-width: calc((100% / 6) - 20px);
  margin: 0 1em;
  transition: all 300ms ease-in-out;
}

.slider-controls label {
  display: block;
  background-color: #666;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
}

.slider-controls label :hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 6px rgb(163, 230, 53, 0.5);
}

#btn-1:checked ~ .slider-controls label[for='btn-1'] {
  background-color: #a3e635;
}

#btn-2:checked ~ .slider-controls label[for='btn-2'] {
  background-color: #a3e635;
}

#btn-3:checked ~ .slider-controls label[for='btn-3'] {
  background-color: #a3e635;
}

/* carousel Slides */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translatex(100%);
  transition: transform 250ms linear;
}

@media only screen and (max-width: 889px) {
  .slider {
    min-height: 70em;
  }
  .slider h1 {
    position: relative;
    z-index: auto;
    left: auto;
    top: auto;
  }

  .slide {
    flex-direction: column;
    justify-content: start;
    max-width: calc(100vw - 2em);
    width: 30em;
  }

  .slider-controls {
    bottom: 0;
    top: 35vh;
    left: 0;
    min-width: calc(100vw - 2em);
    transform: translatex(0);
  }

  .slider-controls li {
    margin: 0 1.5em;
  }

  .slider-controls label {
    outline: 1px solid #a3e635;
  }
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-in;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-in;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-in;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-in {
  100% {
    transform: translatex(0%);
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  0% {
    transform: translatex(100%);
    opacity: 1;
  }
}

/* Form */
#fs-frm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 889px) {
  #fs-frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: clamp(0.9rem, 0.9rem, 1.2rem);
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

#fs-frm label {
  display: flex;
  align-items: baseline;
  height: 3.5em;
  line-height: 3.5em;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 0.9rem, 1.2rem);
  font-weight: 700;
  letter-spacing: 0.25em;
}

#fs-frm ::placeholder {
  display: flex;
  align-items: baseline;
  font-size: clamp(0.8rem, 0.9rem, 1.2rem);
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type='text'],
#fs-frm [type='email'] {
  width: 100%;
}

#fs-frm input[type='submit'],
.button {
  max-width: 15em;
  font-size: 0.8em;
  font-weight: 500;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 2em;
}

@media only screen and (max-width: 889px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    padding: 0.5em 0.75rem;
    margin-bottom: 1rem;
  }

  #fs-frm label {
    height: 2.8em;
    line-height: 2.8em;
  }

  #fs-frm input[type='submit'],
  .button {
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.25em;
    padding: 0 2em;
    text-align: center;
  }
}
